@use "../../../scss-global/colors";
.feedback_box {
  display: flex;
  justify-content: center;
  align-items: center;
  .error {
    color: colors.$warning-color;
  }
  .success {
    color: colors.$success-color;
  }
}
