@use "../../../scss-global/colors";
.select_box {
  width: fit-content;
  select {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    // border: none;
    border-color: #fff;
    border: none;
    // border: 0.5px solid colors.$third-color;
    border: 1px solid colors.$secondary-color;
  }
  select:hover {
    cursor: pointer;
  }
}
