.three_level_box {
  display: grid;
  justify-items: center;
  align-items: center;
  .title {
    font-size: 2.5rem;
  }
  // .country_data_box {
  //   margin: 10px;
  //   display: grid;
  //   justify-items: center;
  //   align-items: center;
  //   .input_data {
  //     h4 {
  //       text-align: center;
  //     }
  //   }
  // }
}
