// COLORS
// GENERAL
// $main-color: #262626; // bg color, i feck up ok, i dumb
$main-color: #f0f0f0;
$component-color-1: #fff;
$secondary-color: #53495c;
// $secondary-color: #262626;
$third-color: #e0e0e0;
$hover-color: #f7eeff;
$warning-color: #fa1442;
$success-color: #5fd967;

// FONTS
// $font-color: #fff;
$font-color: #262626;
// GENERAL

// TABLE
// TABLE
